html,
body {
  min-width: 320px;
}
body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

#bingogame {
  margin-top: 100px;
}

a[class="btn btn-info bingo"],
a[class="btn btn-danger bingo"] {
  width: 75px;
  height: 75px;
  display: table-cell;
}

a[class="btn btn-secondary bingo"] {
  width: 75px;
  height: 75px;
  display: table-cell;
  pointer-events: none;
  cursor: default;
}
